.advantages {
  background-color: $color-linen;
  padding: 80px 0 0;

  @include vp-1023 {
    padding: 60px 0 0 0;
  }

  @include vp-767 {
    padding: 40px 0 0 0;
  }

  &__description {
    font-size: 28px;
    line-height: 42px;
    margin: 0 auto 90px;
    text-transform: uppercase;
    max-width: 1100px;

    @media (max-width: 1280px) {
      margin: 0 auto 50px;
    }

    @include vp-1023 {
      font-size: 22px;
      line-height: 26px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 27px;
      margin: 0 0 20px 0;
    }
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 530px 530px;
    justify-content: center;
    gap: 100px;
    align-items: start;

    &::after {
      content: "";
      left: 50%;
      position: absolute;
      width: 0.5px;
      height: 100%;
      background-color: $color-silver;
      transform: translateX(-50%);

      @include vp-767 {
        display: none;
      }
    }

    @media (max-width: 1280px) {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-1023 {
      gap: 60px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    padding: 0 0 0 29px;
    font-size: 20px;
    line-height: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      border-radius: 100%;
      width: 6px;
      height: 6px;
      background-color: $color-jaguar;

      @include vp-1023 {
        top: 10px;
        left: 10px;
        width: 5px;
        height: 5px;
      }
    }

    @include vp-1023 {
      font-size: 16px;
      line-height: 24px;
    }

    @include vp-767 {
      padding: 0 0 0 25px;
      font-size: 17px;
      line-height: 26px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px 0;

    @include vp-1023 {
      font-size: 16px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 17px;
      line-height: 26px;
    }
  }

  &__picture {
    margin: -70px 0 0 0;
    pointer-events: none;

    @include vp-767 {
      margin: -51px 0 0 0;
    }
  }

  &__img {
    width: 100%;
  }
}