.burger {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  $root: &;

  &__menu {
    position: relative;
    height: 2px;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      left: 50%;
      top: -6px;
      position: absolute;
      height: 2px;
      width: 40px;
      background-color: $color-white;
      transform: translate(-50%, 0);

      @include vp-767 {
        top: -5px;
        left: 0;
        width: 30px;
        transform: translate(-20px, 0);
      }
    }

    &::before {
      transition: background-color $transition-300,
        transform $transition-300;
    }

    &::after {
      top: 7px;
      transition: background-color $transition-300,
        transform $transition-300;

      @include vp-767 {
        top: 5px;
      }
    }
  }

  &:focus-visible,
  &:hover {
    #{$root}__menu {

      &::before,
      &::after {
        transform: translate(-50%, 0) scaleX(0.9);
        background-color: $color-apple;

        @include vp-767 {
          transform: translate(-20px, 0) scaleX(0.9);
        }
      }
    }
  }
}