.custom-input {
  position: relative;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: background-color $transition-300,
      border-color $transition-300;

    &:focus-visible,
    &:hover {
      border-color: $color-apple;
      background-color: $color-linen;
    }

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:disabled {
      border-color: rgba($color-grey, 0.3);
      pointer-events: none;
      background-color: $color-linen;
    }

    &:disabled::placeholder {
      color: rgba($color-grey, 0.3);
    }
  }

  &--error &__field {
    border-color: $color-orange-red;
    background-color: rgba($color-orange-red, 0.1);
  }
}