.section-next {
  padding: 125px 0 119px;
  position: relative;
  $root: &;

  @include vp-767 {
    padding: 160px 0 139px;
  }

  &__shadow-link {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:focus-visible+#{$root}__wrapper #{$root}__icon,
    &:hover+#{$root}__wrapper #{$root}__icon {
      transform: translateX(20%);
    }

    &:focus-visible+#{$root}__wrapper #{$root}__title,
    &:hover+#{$root}__wrapper #{$root}__title {
      color: $color-apple;
    }

    &:focus-visible~#{$root}__image #{$root}__img,
    &:hover~#{$root}__image #{$root}__img {
      filter: blur(5px);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-family: $ff-secondary;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 18px 0;
    color: $color-white;

    @include vp-767 {
      font-size: 14px;
      margin: 0 0 10px 0;
    }
  }

  &__title {
    font-family: $ff-secondary;
    color: $color-ottoman;
    font-size: 58px;
    line-height: 1.1;
    margin: 0 0 32px 0;
    font-weight: 400;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    transition: color $transition-300;

    @include vp-767 {
      font-size: 30px;
      margin: 0 0 15px 0;
      color: $color-white;
    }
  }

  &__icon {
    height: 27px;
    width: 182px;
    color: $color-white;
    transition: transform $transition-300;

    &--desk {
      display: block;

      @include vp-767 {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: block;
        height: 27px;
        width: 131px;
      }
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 12px);
    z-index: -1;

    @include vp-767 {
      height: calc(100% - 4px);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    transition: filter $transition-300;
  }

  &__decor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;

    @include vp-767 {
      display: none;
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: flex;
      }
    }
  }
}